.bounceOut {
  animation: bounceOut 700ms ease-in-out normal forwards 1;
}

.bounceIn {
  animation: bounceIn 700ms ease-in-out normal forwards 1;
}

.fadeOut {
  animation: fadeOut 700ms ease-in-out normal forwards 0;
}

.errorSlide {
  animation: errorShake 400ms 1 linear;
}


@keyframes errorShake {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes fadeOut {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes bounceIn {
  100% {
    transform: none
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  10% {
    transform: scale(.7);
  }
  0% {
    transform: none;
    opacity: 0;
    display: none;
  }
}

@keyframes bounceOut {
  0% {
    transform: none
  }
  10% {
    transform: scale(1.05);
    opacity: 1;
  }
  50% {
    transform: scale(.7);
  }
  65% {
    transform: scale(.7);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 0;
    display: none;
  }
}