.mm-container {
  margin-top: -10px;
  height: 40px;

  .collapse {
    position: absolute;
    transition: height .5s ease-in-out;
    width: 100%;
    top: 40px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    left: 0;
    overflow-y: hidden;
  }

  .menu-item {
    margin-left: 10px;
  }

  .open, .closed {
    z-index: 1;
  }

  .open {
    height: calc(100vh - 58px);
  }

  .closed {
    height: 0;
  }
}